.u-mr-25 {
  margin-right: 2.5rem !important;
}

.u-mt-25 {
  margin-top: 2.5rem !important;
}

.u-mt-40 {
  margin-top: 4rem !important;
}

.u-mb-5 {
  margin-bottom: 5px !important;
}

.u-mb-10 {
  margin-bottom: 1rem !important;
}

.u-mb-15 {
  margin-bottom: 1.5rem !important;
}

.u-mb-25 {
  margin-bottom: 2.5rem !important;
}

.u-mb-30 {
  margin-bottom: 3rem !important;
}

.u-mb-40 {
  margin-bottom: 4rem !important;
}

.u-mb-60 {
  margin-bottom: 6rem !important;
}
