.select-type1 {
  display: flex;
  width: 100%;
  min-height: 5.6rem;
  border-radius: 5px !important;
  border-top: 1px solid map-get($colors, 'gray-light') !important;
  border-bottom: 1px solid map-get($colors, 'gray-light') !important;
  border-left: 1px solid map-get($colors, 'gray-light') !important;

  &__control {
    width: 100%;
    border: none !important;
    background-color: transparent !important;

    &--is-focused {
      border-color: transparent !important;
      box-shadow: none !important;
    }
  }

  &__indicator-separator {
    background-color: transparent !important;
  }

  &__single-value {
    color: map-get($colors, 'gray') !important;
    font-size: 1.6rem !important;
    line-height: 2.4rem !important;
  }

  &__indicator {
    svg {
      fill: map-get($colors, 'red') !important;
    }
  }
}

.select-type2 {
  display: flex;
  position: relative;
  width: 100%;
  height: 5.6rem;
  border-radius: 5px;
  border: 1px solid map-get($colors, 'gray-light');

  &__label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: map-get($colors, 'gray-light');
  }

  &__input {
    height: 100%;
    width: 100%;
  }

  &__indicator-separator {
    background-color: transparent !important;
  }

  &__control {
    height: 100%;
    width: 100%;
    border: none !important;
    background-color: transparent !important;

    &--is-focused {
      border-color: transparent !important;
      box-shadow: none !important;
    }
  }

  &__value-container {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    font-family: $font_lato;
    color: map-get($colors, 'gray');
  }

  &__indicator {
    svg {
      fill: map-get($colors, 'red') !important;
    }
  }
}
