.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #e4e8f7;
  position: fixed;
  top: 0;
  left: 0;
  background-color: map-get($colors, 'white');
  z-index: 5000;
  transition: 0.3s ease-in-out;

  &.home {
    border-bottom: none;
    background-color: transparent;
  }

  &.white {
    border-bottom: 1px solid #e4e8f7 !important;
    background-color: map-get($colors, 'white') !important;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
    width: 102.4rem;
    max-width: calc(100% - 3rem);

    @include breakpoint(mobile) {
      max-width: calc(100% - 6rem);
    }
  }

  &__logo {
    display: block;
    width: 10rem;
  }

  &__right {
    display: flex;
    align-items: center;

    .desc {
      font-size: 1.2rem;
      line-height: 2.2rem;
      color: map-get($colors, 'gray-light');

      @include breakpoint(mobile) {
        display: none;
      }
    }
  }

  .phone {
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
      margin-right: 1rem;
    }

    &__number {
      font-size: 1.4rem;
      line-height: 2.4rem;
      font-weight: 400;
      color: map-get($colors, 'cian');
    }
  }
}
